#### 데이터 세트의 MEDV 칼럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오.

[ boston.csv ] -> 활용

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./boston.csv')
print(df.shape) # 데이터프레임 행과 열 확인
df.head()

(506, 14)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
# 머신러닝 라이브러리인 sklearn에서 MinMaxScaler import 하기
from sklearn.preprocessing import MinMaxScaler

#### 첫번째 방법

In [4]:
scaler = MinMaxScaler()
#최소최대 척도로 변환하기
df_minmax=pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
df_minmax

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.000000,0.18,0.067815,0.0,0.314815,0.577505,0.641607,0.269203,0.000000,0.208015,0.287234,1.000000,0.089680,0.422222
1,0.000236,0.00,0.242302,0.0,0.172840,0.547998,0.782698,0.348962,0.043478,0.104962,0.553191,1.000000,0.204470,0.368889
2,0.000236,0.00,0.242302,0.0,0.172840,0.694386,0.599382,0.348962,0.043478,0.104962,0.553191,0.989737,0.063466,0.660000
3,0.000293,0.00,0.063050,0.0,0.150206,0.658555,0.441813,0.448545,0.086957,0.066794,0.648936,0.994276,0.033389,0.631111
4,0.000705,0.00,0.063050,0.0,0.150206,0.687105,0.528321,0.448545,0.086957,0.066794,0.648936,1.000000,0.099338,0.693333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.000633,0.00,0.420455,0.0,0.386831,0.580954,0.681771,0.122671,0.000000,0.164122,0.893617,0.987619,0.219095,0.386667
502,0.000438,0.00,0.420455,0.0,0.386831,NaN,0.760041,0.105293,0.000000,0.164122,0.893617,1.000000,0.202815,0.346667
503,0.000612,0.00,0.420455,0.0,0.386831,0.654340,0.907312,0.094381,0.000000,0.164122,0.893617,1.000000,0.107892,0.420000
504,0.001161,0.00,0.420455,0.0,0.386831,0.619467,0.889804,0.114514,0.000000,0.164122,0.893617,0.991301,0.131071,0.377778
505,0.000462,0.00,0.420455,0.0,0.386831,0.473079,0.802266,0.125072,0.000000,0.164122,0.893617,1.000000,0.169702,0.153333

In [5]:
# 0.5보다 큰 값을 가지는 컬럼 확인하기
df_minmax[df_minmax['MEDV']>0.5]['MEDV']

2      0.660000
3      0.631111
4      0.693333
5      0.526667
39     0.573333
         ...
370    1.000000
371    1.000000
372    1.000000
407    0.508889
473    0.551111
Name: MEDV, Length: 106, dtype: float64

In [6]:
result=df_minmax[df_minmax['MEDV']>0.5]['MEDV'].count()
result

106

#### 2번째 방법 (더 간단한 방법)

In [7]:
sclaer = MinMaxScaler()
df_minmax=pd.DataFrame(scaler.fit_transform(df), columns=df.columns)['MEDV']
df_minmax[df_minmax>0.5].count() # result

106