#### 데이터 세트의 DIS 칼럼을 표준화 척도(Standard Scale)로 변환한 후, 0.4보다 크면서 0.6보다 작은 값들에 대한 평균을 구하시오. 단, 소수점 셋째 자리에서 반올림하여 소수점 둘째 자리까지 출력하시오.

[ boston.csv ] -> 활용

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler # 표준화 척도 standardscaler 변환

In [2]:
df = pd.read_csv('./boston.csv')
print(df.shape) # 데이터 셋 행과 열 확인
df.head()

(506, 14)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
scaler = StandardScaler()

# 표준화척도로 변환해서 데이터프레임으로 만들고, 원하는 dis 컬럼만 뽑아오기
df_s = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)[['DIS']]
df_s

          DIS
0    0.140214
1    0.557160
2    0.557160
3    1.077737
4    1.077737
..        ...
501 -0.625796
502 -0.716639
503 -0.773684
504 -0.668437
505 -0.613246

[506 rows x 1 columns]

In [4]:
df_s1=df_s[(df_s['DIS']>0.4)&(df_s['DIS']<0.6)]
df_s1

          DIS
1    0.557160
2    0.557160
13   0.433754
26   0.421632
78   0.579502
84   0.467933
276  0.471641
277  0.507579
280  0.427669
322  0.440219
323  0.440219
324  0.440219
338  0.483525
339  0.483525
340  0.483525

In [5]:
result = round(df_s1['DIS'].mean(),2) # 2는 반올림해서 두번째자리까지 출력하는것
result

0.48